/* Inria Serif Font Family */

@font-face {
  font-family: "Inria Serif";
  src: url("/fonts/Inria-Serif/InriaSerif-Regular.woff2") format("woff2"),
    url("/fonts/Inria-Serif/InriaSerif-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/fonts/Inria-Serif/InriaSerif-Bold.woff2") format("woff2"),
    url("/fonts/Inria-Serif/InriaSerif-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/fonts/Inria-Serif/InriaSerif-Italic.woff2") format("woff2"),
    url("/fonts/Inria-Serif/InriaSerif-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Figtree Font Family */
/* Will be added later */
