.about {
  background-color: var(--color-deep-charcoal);

  .our-board__members {
    display: flex;
    gap: var(--spacing-12);
    font-size: 1.25rem;
    max-width: 800px;
    margin: var(--spacing-12) auto;
  }

  .our-board__members:last-child {
    max-width: 500px;
  }

  .our-board__member {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    height: 100%;
    max-width: 200px;
  }

  .our-board__member-title {
    font-style: italic;
  }
}
