---
import Layout from '../layouts/Layout.astro';
---

<Layout 
    title="About - Easton Project"
    description="Learn about Easton Project, our mission, and how we're making a difference in the Montreal community."
    keywords="Easton Project, About, Mission, Montreal, Charity, Community"
    ogImage="/og-image.png"
>
    <h1>About Easton Project</h1>
</Layout>
