---
import Layout from '../layouts/Layout.astro';
---

<Layout 
    title="About - Easton Project"
    description="Learn about Easton Project, our mission, and how we're making a difference in the Montreal community."
    keywords="Easton Project, About, Mission, Montreal, Charity, Community"
    ogImage="/og-image.png"
>
<main class="about">
    <section class="our-board" aria-labelledby="our-board-heading">
        <div class="our-board__inner container">
            <h1 class="our-board__heading" id="our-board-heading">Our Board</h1>
            <p class="our-board__description">The Easton Project is addressing urgent and persistent barriers in Quebec’s addiction and mental health system—especially those affecting English-speaking residents.</p>
            <p class="our-board__description">From long wait times to financial constraints and a lack of transitional housing, the path to recovery is often obstructed.</p>
            <p class="our-board__description">Our three-pronged model provides swift, compassionate, and practical support that helps individuals take action when they’re ready to seek help—and stay the course toward long-term healing.</p>
        </div>
    </section>
</main>
</Layout>
